{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="category">
    
    {% for post in posts %}
    <article>
        <a href="{% url 'app:post_detail' post.recipe_category.pk post.pk %}">
            <img class="image_post" src="/static/images/test.jpg">
            <h4>
                {{ post.name }}
                <div class="date">{{ post.created_at|date:'F d, Y' }}</div>
            </h4>
            
        </a>
    </article>
    {% endfor %}
    
</div>

{% endblock %}