{% extends "layout.html" %}
{% load app_extras %}
{% load static %}


{% block content %}
<div class="detail-container">
    <div class="detail-header">
        <img class="detail_img" src="/static/images/test.jpg" alt="{{ post.name }}">
        <h3 class="detail-title">{{ post.name }}</h3>
        <div class="sub-nav">
            {{ post.recipe_category|lower|capfirst }} | {{ post.name }} | <small>{{ post.created_at|date:'F d, Y' }}</small>
        </div>
    </div>
    
    <p class="post_description">
        <em>{{ post.description }}</em>
    </p>
    
    <div class="post-ingredients">
        <h5 id="ingredient-title">Ingredients</h5>
        {{ post.ingredients|markdown_to_html }}
    </div>
    
{#    <table>#}
{#        <tbody>#}
{#            <tr>#}
{#                <th>Ingredients</th>#}
{#                <td>{{ post.ingredients }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Instructions</th>#}
{#                <td>{{ post.instructions }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Notes</th>#}
{#                <td>{{ post.notes }}</td>#}
{#            </tr>#}
{#        </tbody>#}
{#    </table>#}
</div>
{% endblock %}