{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="post_detail">
    <img class="detail_img" src="/static/images/test.jpg">
    <div class="detail_container">
        <h3>{{ post.name }}</h3>
        <small>{{ post.created_at|date:'F d, Y' }}</small>
        <p class="post_description">
            <em>{{ post.description }}</em>
        </p>
        <table>
            <tbody>
                <tr>
                    <th>Ingredients</th>
                    <td>{{ post.ingredients }}</td>
                </tr>
                <tr>
                    <th>Instructions</th>
                    <td>{{ post.instructions }}</td>
                </tr>
                <tr>
                    <th>Notes</th>
                    <td>{{ post.notes }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}