/* HTML */
article {
    background: white;
    margin-right: 30px;
    margin-bottom: 8px;
    overflow: hidden;
}


/* Class */
.date {
    font-weight: 800;
    font-size: 0.8em;
    color: #939a9f;
}

.post-category {
    color: #F4A261;
    font-size: 0.8em;
    font-weight: 750;
}

.post-text {
    padding: 20px;
}

.recipe-image {
    height: 300px;
    object-fit: cover;
    width: 450px;
}

/* ID */
#post-description {
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.6;
}

#post-title {
    margin-top: 20px;
    margin-bottom: 20px;
}