{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dinosaursinlove</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body>
    <div class="container">
        <div class="grid-100">
            <div class="container_header">
                <a href="{% url 'home' %}">
                    <h1>DINOSAURS IN L&#9829;VE</h1>
                </a>
            </div>

            <div class="container_nav">
                <hr>
                <a href="{% url 'home' %}">HOME</a>
<!--                <div class="dropdown">-->
<!--                    <a class="dropbtn" href="{% url 'app:recipe_category' %}">RECIPES</a>-->
<!--                    <div class="dropdown-content">-->
<!--                        {% for category in categories %}-->
<!--                        <a href="{% url 'app:get_a_category' category_pk=category.id %}">{{ category.name }}</a>-->
<!--                        {% endfor %}-->
<!--                    </div>-->
<!--                </div>-->
            <a class="dropdown" href="{% url 'app:recipe_category' %}">RECIPES</a>

                <a href="#">TRAVEL</a>
                <a href="#">LANGUAGES</a>
                <a href="#">ABOUT</a>
                <hr>
            </div>
            
            
            {% block content %}{% endblock %}

        </div>
    </div>

    
    <div class="footer">
        
        <small>&copy; 2021 DINOSAURS IN LOVE.</small>
    </div>

</body>
</html>